@import "tailwindcss";

.theme-alive {
  --bg-main: #16161A;
  --bg-card: #1C1D22;

  --text-main: #F5F6F7;
  --text-muted: #B3B6BE;
}

.theme-deep {
  --bg-main: #0E0F12;
  --bg-card: #14161A;

  --text-main: #F5F6F7;
  --text-muted: #9A9EA7;
}

/* Smooth global transitions */
* {
  transition: 
    background-color 1200ms ease,
    color 1200ms ease,
    border-color 1200ms ease;
}
